---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="- Payment"
  removeFooter={true}
  description="All kind of payments are going throught this page."
>
  <div class="absolute top-0 left-0 min-h-125 w-full bg-clr-blue z-10"></div>
  <main class="h-fit min-h-rem-55 pt-125 lg:h-screen">
    <div
      class="my-container relative mx-auto flex h-full flex-col gap-20 py-20 lg:grid lg:grid-cols-2 lg:gap-10 lg:py-0"
    >
      <iframe
        width="100%"
        src="https://zohosecurepay.eu/checkout/f4odmeta-1o2n8oy3ur45u/Pay-Moving-Services"
        style="border:none; margin-top:50px; height:1000px; position:absolute;"
      ></iframe>
    </div>
  </main>
</Layout>
