---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- Reviews" description="Reviews Page" path="/reviews">
  <h1>Reviews</h1>
</Layout>
