---
import '../global/GlobalStyles.astro';
import NewsletterForm from './NewsletterForm.jsx'
---

<section
  aria-labelledby="newsletter-title"
  class="my-container flex flex-col items-center gap-9 mx-auto text-center bg-clr-green--light py-12 motion-safe:opacity-0 motion-safe:translate-y-1/2 motion-safe:duration-500"
  data-animation="translateY opacity"
>
  <h2 id="newsletter-title" class="text-h2_md md:text-xxl font-black">
    Join Us!
  </h2>
  <h3 class="text-lg font-semibold">
    <span class="text-clr-green">Subscribe</span> to our <span
      class="text-clr-green">Newsletter</span
    > to receive our offers and discounts:
  </h3>
  <NewsletterForm client:visible/>
</section>

