---
import { Icon } from 'astro-icon';

type MissionProps = {
  heading: string;
  text: string;
  icon: string;
};

const { heading, text, icon } = Astro.props as MissionProps;
---

<div class="relative">
  <div
    class="absolute top-0 left-0 h-full w-full translate-x-1.5 translate-y-1.5 rounded-3xl border-2 border-white bg-transparent"
  >
  </div>
  <div
    class="work-process-perspective relative rounded-3xl bg-white p-9 motion-safe:opacity-0 motion-safe:duration-1000"
    data-animation="process opacity"
  >
    <div class="flex justify-between">
      <h3 class="text-lg font-semibold">{heading}</h3>

      <Icon name={icon} class="h-8 text-clr-green motion-safe:animate-bounce" />
    </div>
    <div class="mt-3 mb-5 h-0.5 w-6 rounded-xl bg-clr-green"></div>
    <p>{text}</p>
  </div>
</div>
